config MQTT_BROKER_URI
    string "MQTT Broker URI"
    default "mqtt://localhost"
    help
        URI of the MQTT broker to connect to

config MQTT_USE_AUTH
    bool "Use MQTT authentication"
    default n

config MQTT_USERNAME
    string "MQTT Username"
    help
        MQTT broker username (optional)

config MQTT_PASSWORD
    string "MQTT Password"
    help
        MQTT broker password (optional)
